.rc-modal-warp {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rc-modal-mask {
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.rc-modal-content {
  top: 100px;
  position: relative;
  width: 520px;
  background-color: aliceblue;
  margin: 0 auto;
}
